---
- hosts: all
  become: yes
  tasks: 
  - name: in this tasks , i want to install tree
    apt: 
      name: tree
      state: present

  - name: in this tasks, i want to install git
    apt: 
      name: git
      state: present
  - name: in this tasks, i want to install wget
    apt: 
      name: wget
      state: present